/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'font_awesome5_webfont';
@import 'font_awesome5';
@import "bootstrap";

#calendar{
  max-height: 800px;
  td{
    border-width: 1px
  }
}

.fc-col-header-cell-cushion  {
  @extend .text-dark;
}

.fc-button-primary{
  background-color: $blue !important;
  border-color: $blue !important;
  &:hover{
    opacity: 0.8;
  }
}

#external-events .fc-event {
  cursor: move;
  margin: 3px 0;
}

.destroyable{
  color: $red;
  border: 1px solid $red;
}
